.container {
  background: linear-gradient(267.27deg, rgb(69 69 72) 1.57%, #157d5f 98.69%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 878px;
  margin-left: 0px;
  top: 0;
}
.title {
  font-size: 40px;
  font-weight: 900;
  font-family: "Inter";
  color: #ffff;
}
.text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Inter";
  color: #fff;
  width: 80%;
}
.text2 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Inter";
  color: #fff;
  width: 80%;
}
.button {
  margin-top: 50px;
  width: 300px;
  height: 56px;
  background: linear-gradient(180deg, rgb(69 69 72) 0%, #157d5f 100%),
    linear-gradient(270.01deg, rgb(69 69 72) 0.01%, #157d5f 100%);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

.button:hover {
  background: linear-gradient(267.27deg, rgb(69 69 72) 1.57%, #157d5f 98.69%);
}
