.centre-div {
    width: 450px;
    height: 550px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-title {
    width: 350px;
    height: 40px;
}
.left-input-all-div {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-top-input {
    width: 342px;
    height: 50px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    background: inherit;
    margin-bottom: 24px;
}
